@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    scroll-behavior: smooth;
    color: black;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: rgb(243, 235, 235);
    height: 100%;
}

.logo {
    display: flex;
}

.links a.active {
    color: #f0e100;
}

nav {
    padding: 5px 120px;
    display: flex;
    justify-content: space-between;
    background-color: #e5e7eb00;
    position: fixed;
    width: 100%;
    transition: background-color 1s ease;
    top: 0px;
    z-index: 5;
}

nav:hover {
    background-color: white !important;
}

.text {
    width: 80%;
    max-width: 1000px;
}



nav a:hover, nav a:focus {
    color: #F0E100;
    font-size: 25px;
}

.links {
    padding-top: 20px;
}

nav a {
    margin: 20px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    transition: font-size 0.3s ease;
}

.name {
    margin: 7px 0 10px 10px;
    color: white;
}

.logo img {
    width: 60px;
}


.logo h1 {
    padding-top: 10px;
}

/* navigation bar styling ends */


.container {
    display: flex;
    height: 100vh;
    padding: 0px 120px;
    align-items: center;
}

#typewriter {
    overflow: hidden;
    white-space: nowrap;
    border-right: 1px solid black;
    width: fit-content;
  }
  

.inner-container {
    display: flex;
    justify-content: center;
    animation: slide-image,fadeout;
    animation-duration: 2s;
    animation-timing-function:  ease;

}

.image {
    width: 300px;
    background-color: white;
    position: relative;
    border-radius: 10px;
    text-align: center;
    padding: 2%;
    box-shadow: 10px 10px 20px grey;
    transition: box-shadow 0.4s ease;
    transition: width 1s ease;
}

.image img {
    width: 100%;
    border-radius: 10px;
}

.image:hover {
    box-shadow: 10px 10px 60px grey;
}

.social {
    margin-left: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social i {
    font-size: 45px;
    margin: 5px;
    transition: font-size 1s ease;
}

/* icon styling */

.social .li {
    background-color: #0A66C2;
    padding: 4px 6px;
    color: white;
    font-size: 35px ;
    border-radius: 4px;
}

.insta {
    background: -webkit-linear-gradient(#405DE6, #5B51D8, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-right: 10px;
}


.gt {
    -webkit-text-fill-color: black;
    border-radius: 10px;
}


.wp {
    color: #46C254;
}


.text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    word-spacing: 10px;
    font-size: 45px;
}

 .skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

#heading1 {
    font-size: 70px;
    text-align: center;
    text-shadow: 3px 3px 10px black;
}

ul {
    list-style-type: none;
    line-height: 20px;
}

li {
    display: flex;
    font-size: 30px;
    align-items: center;
    margin: 60px 10px;
}


.skills i {
    font-size: 50px;
}

.languages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.skills img {
    width: 140px;
}

.ele {
    margin: 30px 60px;
}


.progressbar {
    width: 200px;
    height: 5px;
    margin-top: 10px;
    border: 1px solid #565656;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(245, 159, 0);
}

.percentage {
    display: block;
    height: 100%;
    background-color: orange;
    border-radius: 5px;
    width: 0;
}

/* Assigning width of each languages*/
.c, .cpp, .python, .html, .css, .js {
    animation: progress 1500ms ease-in 1;

}

.skillbox-animation{
    animation: slide-up 2s ease;
}

.c {
    width: 85%;
}

.cpp {
    width: 80%;
}


.python {
    width: 35%;
}

.html {
    width: 85%;
}

.css {
    width: 75%;
}

.js {
    width: 65%;
}


/* contact deepak yadav */

.contact{
    display: flex;
    justify-content: center;
    align-items: center ;
    height: 100vh;
    
}

.container2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.484) ;
    padding: 30px;
    width: 60%;
    border-radius: 20px;
    box-shadow: 10px 10px 20px pink;
    opacity: 1;

}

.animate{
    animation-name: slide-in,fadeout;
    animation-duration: 2s;
    animation-delay: 1s 0;
}

.sayhi
{
    display: flex;
    flex-direction: column;
    font-size: 1.4em;
}

.sayhi h4,.sayhi h1{
    color: whitesmoke;
}

.name{
    display: flex;
    margin: 0;
    color: white;
}

input,textarea{
    padding: 10px;
    margin: 10px 10px;
    font-size: 20px;
    border-radius: 5px;
    border: 2px solid transparent;
    outline: none;
    background-color: rgba(0, 0, 0, 0.54);
    color: white;
}

input::placeholder,textarea::placeholder{
    color: rgba(255, 255, 255, 0.482);
}

input[type = "submit"]
{
    align-self: center;
    min-width: 150px;
    width: 30%;
}

input:focus, textarea:focus{
    border: 2px solid rgba(255, 255, 255, 0.699);
}

.form{
    display: flex;
    flex-direction: column;
}

.credits{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    height: 30vh;
    justify-content: center;
    line-height: 30px;
    font-size: 20px;
}

.email,.handles a,.copyright,.lastupdate{
    color: white;
}

a[href = "#container"]{
    text-decoration: none;
    color: #F0E100;
}

@keyframes progress {
    from {
        width: 0;
    }
}

@media (max-width:1200px){
    .sayhi{
        font-size: 15px;
    }
    input,textarea{
        font-size: 15px;
    }
}

@media (max-width:1100px){
    .image{
        width: 200px;
    }

    .social i{
        font-size: 25px;
    }

    .social a .li{
        font-size: 15px;
        font-weight: 400;
    }

    .text{
        font-size: 25px;
    }

    .skills img{
        width: 80px;
    }
    .progressbar{
        width: 110px;
        height: 4px;
    }
    #heading1{
        font-size: 30px;
    }
    
}

@media (max-width:900px){
    .logo h1{
        display: none;
    }

    .text{
        word-spacing: 3px;
    }

    nav{
        padding: 5px 50px;
    }

    .container{
        padding: 0px 50px;
    }

    .ele{
        margin: 20px;
    }

    input,textarea
    {
        font-size: 12px;
        padding: 5px;
        width: 150px;
    }

    .name{
        flex-direction: column;
    }
    .sayhi{
        font-size: 12px;
    }
}

@media (max-width:600px){
    .logo h1{
        display: none;
    }

    nav{
        padding: 0px 0px;
    }

    nav a{
        font-size: 15px;
        margin: 10px;
    }

    .container{
        padding: 0px 10px;
    }
    .text{
        font-size: 20px;
        word-spacing: 0px;
    }
    .image{
        width: 150px;
    }
    .progressbar{
    box-shadow: 0 0 3px rgb(245, 159, 0);
    }

    .container2{
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width:450px){
    .text{
        font-size: 12px;
    }

    .image{
        width: 125px;
    }

    nav a{
        margin: 5px;
    }

    input,textarea{
        margin: 5px 5px;
        width:1=80%
    }

    .container2{
        width: 80%;
    }
}

@keyframes fadeout{
    from {
        opacity: 0;
    }
    
}

@keyframes slide-in {
    from {
      transform: translateX(-100%);
    }
    
}

@keyframes slide-up{
    from{
        transform: translateY(100%);
    }
    to{
        transform: translateY(0%);
    }
}

@keyframes slide-image{
    from{
        transform: translateX(100%);
    }
}
